:root {
	/* top bar variables */
	--timer-bg-color: #111;
	--timer-text-color: white;
	--timer-font-size: 4rem;

	--name-bg-color: #333;
	--name-text-color: white;
	--name-font-size: 3rem;

	--top-bar-height: 7vh;

	--t1-color: #ff0000;
	--t2-color: #0000ff;
	--score-text-color: white;
	--score-font-size: 4rem;

	/*top sub-bar variables*/
	--sub-bar-height: 5vh;
	--sub-bar-bg-color: #222;
	--sub-bar-text-color: white;
	--sub-bar-font-size: 1.5rem;

	--ticker-bg-color: #555;
	--ticker-empty-color: #111;

	/*team boost meter variables*/
	--bm-width: 10vw;
	--bm-height: 20vh;
	--bm-bg-color: #111;
	--bm-text-color: white;
	--bm-font-size: 1.5rem;
	--bm-top-offset: 5vh;

	/*Bottom info bar variables*/
	--bb-width: 50vw;
	--bb-height: 5vh;
	--bb-bg-color: #111;
	--bb-text-color: white;
	--bb-font-size: 2rem;

	/*spectated player info variables*/
	--info-width: 10vw;
	--info-height: 30vh;
	--info-bg-color: #111;
	--label-font-size: 1.5rem;
	--label-font-color: #555;
	--data-font-size: 2rem;
	--data-font-color: white;
	--boost-meter-size: 15vh;
	--boost-meter-color: #111;
	--boost-ticker-color: white;
	--boost-text-color: white;
	--boost-font-size: 4rem;
}

body {
	margin: 0;
	background-color: black;
	overflow: hidden;
}
p {
	margin: 0;
	text-align: center;
	line-height: 1;
}

#ingame-top-bar {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: var(--top-bar-height);
}
#ingame-top-subbar {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: var(--sub-bar-height);
}
#timer-div {
	height: var(--top-bar-height);
	width: calc(var(--top-bar-height) * 2);
	background-color: var(--timer-bg-color);
}
#t1score-div {
	background-color: var(--t1-color);
}
#t2score-div {
	background-color: var(--t2-color);
}
#timer {
	color: var(--timer-text-color);
	margin-top: calc((var(--top-bar-height) - var(--timer-font-size)) / 2);
	font-size: var(--timer-font-size);
}
#current-game-info-div {
	height: var(--sub-bar-height);
	width: calc(var(--top-bar-height) * 3);
	background-color: var(--sub-bar-bg-color);
}
#current-game-info {
	color: var(--sub-bar-text-color);
	margin-top: calc((var(--sub-bar-height) - var(--sub-bar-font-size)) / 2);
	font-size: var(--sub-bar-font-size);
}
#t1-boost-div {
	left: 0;
}
#t2-boost-div {
	right: 0;
}
#ingame-bottom-bar {
	position: absolute;
	bottom: 0;
	width: var(--bb-width);
	height: var(--bb-height);
	left: calc((100vw - var(--bb-width)) / 2);
	background-color: var(--bb-bg-color);
}
#bottom-bar-content {
	margin-top: calc((var(--bb-height) - var(--bb-font-size)) / 2);
	font-size: var(--bb-font-size);
	color: var(--bb-text-color);
}
#spectated-player-info {
	width: var(--info-width);
	height: var(--info-height);
	background-color: var(--info-bg-color);
	position: absolute;
	left: 5vh;
	bottom: 5vh;
	padding: 1em;
}
#player-stats-table {
	width: 100%;
	height: 80%;
	margin-top: 1em;
}
#spectated-boost-meter {
	width: var(--boost-meter-size);
	height: var(--boost-meter-size);
	background-color: var(--boost-meter-color);
	position: absolute;
	right: 5vh;
	bottom: 5vh;
	padding: 1em;
	border-radius: 50%;
}
#boost-top-ticker {
	position: absolute;
	top: 0;
	right: calc(50% - 1px);
	width: 2px;
	height: 15%;
	background-color: var(--boost-ticker-color);
}
#boost-bottom-ticker {
	position: absolute;
	bottom: 0;
	right: calc(50% - 1px);
	width: 2px;
	height: 15%;
	background-color: var(--boost-ticker-color);
}
#boost-left-ticker {
	position: absolute;
	left: 0;
	top: calc(50% - 1px);
	width: 15%;
	height: 2px;
	background-color: var(--boost-ticker-color);
}
#boost-right-ticker {
	position: absolute;
	right: 0;
	top: calc(50% - 1px);
	width: 15%;
	height: 2px;
	background-color: var(--boost-ticker-color);
}
#boost-amount {
	color: var(--boost-text-color);
	font-size: var(--boost-font-size);
	position: absolute;
	top: calc((100% - var(--boost-font-size)) / 2);
	width: calc(100% - 2rem);
}
#boost-amount-display {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(var(--boost-meter-size) + 2rem);
	height: calc(var(--boost-meter-size) + 2rem);
}
.info-label {
	color: var(--label-font-color);
	font-size: var(--label-font-size);
}
.info-data {
	color: var(--data-font-color);
	font-size: var(--data-font-size);
}
.boost-div {
	width: var(--bm-width);
	height: var(--bm-height);
	position: absolute;
	top: var(--bm-top-offset);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.name-div {
	background-color: var(--name-bg-color);
	width: 20vw;
	height: 100%;
}
.score-div {
	height: var(--top-bar-height);
	width: var(--top-bar-height);
}

.name {
	color: var(--name-text-color);
	margin-top: calc((var(--top-bar-height) - var(--name-font-size)) / 2);
	font-size: var(--name-font-size);
}
.score {
	color: var(--score-text-color);
	margin-top: calc((var(--top-bar-height) - var(--score-font-size)) / 2);
	font-size: var(--score-font-size);
}
.ticker-container {
	width: 20vw;
	height: calc(var(--sub-bar-height) * 0.667);
	background-color: var(--ticker-bg-color);
}
.player-card {
	display: flex;
	background-color: var(--bm-bg-color);
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 1em;
	padding-right: 1em;
}
.card-name {
	width: 100%;
	font-size: var(--bm-font-size);
	color: var(--bm-text-color);
}
.card-canvas {
	width: 100%;
	height: 33%;
}