:root {
	/* top bar variables 
	colors: rgb(23,27,26), rgb(16,16,16), rgb(50, 4, 4), rgb(115, 12, 13) rgb(55, 41, 41), rgb(89, 4, 32)
	*/
	--timer-bg-color: rgb(16,16,16);
	--timer-text-color: white;
	--timer-font-size: 3rem;

	--name-bg-color: rgba(89, 4, 32, 0.8);
	--name-text-color: white;
	--name-font-size: 2rem;

	--top-bar-height: 7vh;

	--t1-color: #0000ff;
	--t2-color: #ff0000;
	--score-text-color: white;
	--score-font-size: 3rem;

	/*top sub-bar variables*/
	--sub-bar-height: 4vh;
	--sub-bar-bg-color: rgb(23,27,26);
	--sub-bar-text-color: white;
	--sub-bar-font-size: 1.25rem;

	--ticker-bg-color: rgba(16,16,16, 0.8);

	/*team boost meter variables*/
	--bm-width: 10vw;
	--bm-height: 25vh;
	--bm-bg-color: rgba(23,27,26,0.8);
	--bm-text-color: white;
	--bm-font-size: 1.5rem;
	--bm-top-offset: 5vh;

	/*Bottom info bar variables*/
	--bb-width: 50vw;
	--bb-height: 5vh;
	--bb-bg-color: rgba(89, 4, 32, 0.8);
	--bb-text-color: white;
	--bb-font-size: 1.5rem;

	/*spectated player info variables*/
	--info-width: 10vw;
	--info-height: 30vh;
	--info-bg-color: rgba(23,27,26, 0.8);
	--label-font-size: 1.5rem;
	--label-font-color: lightgray;
	--data-font-size: 2rem;
	--data-font-color: white;
	--boost-meter-size: 15vh;
	--boost-meter-color: rgba(23,27,26, 0.8);
	--boost-ticker-color: white;
	--boost-text-color: white;
	--boost-font-size: 4rem;
}

@font-face {
  font-family: "Azonix";
  src: url("Azonix.otf");
}
@font-face {
  font-family: "Edosz";
  src: url("edosz.ttf");
}

body {
	margin: 0;
	background-color: black;
	overflow: hidden;
	filter: drop-shadow(0px 0px 5px white) sepia(15%) saturate(85%);
	font-family: "Edosz";
}
p {
	margin: 0;
	text-align: center;
	line-height: 1;
}
#t1-ticker-canvas {
	border-bottom-left-radius: 1em;
}
#t2-ticker-canvas {
	border-bottom-right-radius: 1em;
}
#t1name-div {
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
}
#t2name-div {
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
}
#ingame-top-bar {
	margin-top: 1em;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: var(--top-bar-height);
	z-index: 10000;
}
#ingame-top-subbar {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: var(--sub-bar-height);
	z-index: -100;
}
#timer-div {
	height: var(--top-bar-height);
	width: calc(var(--top-bar-height) * 2);
	background-color: var(--timer-bg-color);
	z-index: 10000;
}
#t1score-div {
	background-color: var(--t1-color);
}
#t2score-div {
	background-color: var(--t2-color);
}
#timer {
	color: var(--timer-text-color);
	margin-top: calc((var(--top-bar-height) - var(--timer-font-size)) / 2);
	font-size: var(--timer-font-size);
}
#current-game-info-div {
	height: var(--sub-bar-height);
	width: calc(var(--top-bar-height) * 3);
	background-color: var(--sub-bar-bg-color);
	border-radius: 0 0 0.5em 0.5em;
	z-index: -100;
}
#current-game-info {
	color: var(--sub-bar-text-color);
	margin-top: calc((var(--sub-bar-height) - var(--sub-bar-font-size)) / 2);
	font-size: var(--sub-bar-font-size);
}
#t1-boost-div {
	left: 0;
}
#t2-boost-div {
	right: 0;
}
#ingame-bottom-bar {
	position: absolute;
	bottom: 1em;
	width: var(--bb-width);
	height: var(--bb-height);
	left: calc((100vw - var(--bb-width)) / 2);
	background-color: var(--bb-bg-color);
	background-image: linear-gradient(var(--bb-bg-color), var(--bb-bg-color)), url("graffiti-grayscaled.jpg");
	background-position: 45% 36%;
	border-radius: 1em;
}
#bottom-bar-content {
	margin-top: calc((var(--bb-height) - var(--bb-font-size)) / 2);
	font-size: var(--bb-font-size);
	color: var(--bb-text-color);
}
#spectated-player-info {
	width: var(--info-width);
	height: var(--info-height);
	background-image: linear-gradient(var(--info-bg-color), var(--info-bg-color)), url("graffiti-grayscaled.jpg");
	background-position: 10% 94%;
	background-size: 200%;
	background-color: var(--info-bg-color);
	position: absolute;
	left: 5vh;
	bottom: 5vh;
	padding: 1em;
	border-radius: 1em;
}
#player-stats-table {
	width: 100%;
	height: 80%;
	margin-top: 1em;
}
#spectated-boost-meter {
	width: var(--boost-meter-size);
	height: var(--boost-meter-size);
	background-color: var(--boost-meter-color);
	position: absolute;
	right: 5vh;
	bottom: 5vh;
	padding: 1em;
	border-radius: 50%;
	background-image: linear-gradient(var(--boost-meter-color), var(--boost-meter-color)), url("graffiti-grayscaled.jpg");
	background-position: 25% 25%;
}
#boost-top-ticker {
	position: absolute;
	top: 0;
	right: calc(50% - 1px);
	width: 2px;
	height: 15%;
	background-color: var(--boost-ticker-color);
}
#boost-bottom-ticker {
	position: absolute;
	bottom: 0;
	right: calc(50% - 1px);
	width: 2px;
	height: 15%;
	background-color: var(--boost-ticker-color);
}
#boost-left-ticker {
	position: absolute;
	left: 0;
	top: calc(50% - 1px);
	width: 15%;
	height: 2px;
	background-color: var(--boost-ticker-color);
}
#boost-right-ticker {
	position: absolute;
	right: 0;
	top: calc(50% - 1px);
	width: 15%;
	height: 2px;
	background-color: var(--boost-ticker-color);
}
#boost-amount {
	color: var(--boost-text-color);
	font-size: var(--boost-font-size);
	position: absolute;
	top: calc((100% - var(--boost-font-size)) / 2);
	width: calc(100% - 2rem);
}
#boost-amount-display {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(var(--boost-meter-size) + 2rem);
	height: calc(var(--boost-meter-size) + 2rem);
}
.info-label {
	color: var(--label-font-color);
	font-size: var(--label-font-size);
}
.info-data {
	color: var(--data-font-color);
	font-size: var(--data-font-size);
}
.boost-div {
	width: var(--bm-width);
	height: var(--bm-height);
	position: absolute;
	top: var(--bm-top-offset);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.name-div {
	background-color: var(--name-bg-color);
	background-image: linear-gradient(var(--name-bg-color), var(--name-bg-color)), url("graffiti-grayscaled.jpg");
	background-size: 100%;
	background-position: 83% 88%;
	width: 25vw;
	height: 100%;
	z-index: 10000;
}
.score-div {
	height: var(--top-bar-height);
	width: var(--top-bar-height);
	z-index: 10000;
}

.name {
	color: var(--name-text-color);
	margin-top: calc((var(--top-bar-height) - var(--name-font-size)) / 2);
	font-size: var(--name-font-size);
}
.score {
	color: var(--score-text-color);
	margin-top: calc((var(--top-bar-height) - var(--score-font-size)) / 2);
	font-size: var(--score-font-size);
}
.ticker-container {
	width: 20vw;
	height: calc(var(--sub-bar-height) * 0.667);
	background-color: var(--ticker-bg-color);
	z-index: -100;
	background-image: linear-gradient(var(--ticker-bg-color), var(--ticker-bg-color)), url("graffiti-grayscaled.jpg");
}
.player-card {
	display: flex;
	background-color: var(--bm-bg-color);
	background-image: linear-gradient(var(--bm-bg-color), var(--bm-bg-color)), url("graffiti-grayscaled.jpg");
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 1em;
	padding-right: 1em;
	margin: 1em;
	border-radius: 1em;
}
.card-name {
	width: 100%;
	font-size: var(--bm-font-size);
	color: var(--bm-text-color);
}
.card-canvas {
	width: 100%;
	height: 33%;
}